@model EvolucionaMovil.Models.ProspectoVM

@{
    ViewBag.Title = "Confirmación de preafiliación";
}

<h1>Confirmación de preafiliación</h1>
<h3 id="confirmacion">¡Gracias por preafiliarte! En unos momentos recibirás un email con más información.</h3>