@if(Request.IsAuthenticated) {
    <text>Bienvenido <a href="@Url.Content("~/PayCenters/Profile")"><span class="fwb">@User.Identity.Name</span></a>!
    [@Html.ActionLink("Cerrar Sesión", "LogOff", "Account")]</text>
}
else
{
    @:[@Html.ActionLink("Iniciar Sesión", "LogOn", "Account")]
}
