@{
    ViewBag.Title = "QueSon";
}

<h2>¿Qué es un Evento?</h2>
<article>
<p>Equivale al cobro de comisión que se realiza al reportar un Pago de Servicio.</p>
<p>Cada Reporte de servicio corresponde a un Evento. Por ejemplo, si ser reportan 5 Solicitudes de Pago de Servicios, equivale a 5 Eventos.</p>
<p>Existen 2 formas de que la Empresa le cobre al PayCenter un Pago de servicio. Ya sea cobrando una comisión que le descuenta del saldo del PayCenter, o mediante el descuento de un Evento de los Eventos Disponibles del PayCenter. El concepto de Evento es utilizado para el Prepago donde el PayCenter puede pre-pagar, mediante la compra de Paquetes, las comisiones de los pagos de servicios que va a realizar en el futuro. Cuando un PayCenter reporta una solicitud de pago de servicio y es realizada exitósamente, y el PayCenter cuenta con Eventos Disponibles, la Empresa le descuenta un Evento. En caso de no contar con Eventos, la empresa descontará la comisión de su saldo.</p>
</article>
<h2>¿Qué es un Paquete?</h2>
<article>
<p>Conjunto de Eventos que se pueden prepagar con el objetivo de que al momento de reportar una Solicitud de Pago de Servicio, la comisión que la Empresa cobra al PayCenter sea menor que la que se cobra normalmente. Esto por el hecho de haber sido prepagada.</p>
<p>Por ejemplo: si la comisión actual es de $5.00, y el PayCenter compró un paquete que incluye 20 Eventos por un precio de $80.00, significa que cada Evento prepagado costó $4.00 ($80 pesos/20 Eventos). </p>
<p>De este modo, la comisión que la Empresa le cobra es más económica y le permite tener mayor margen de ganancia al PayCenter.</p>
</article>

