@model EvolucionaMovil.Models.RecoveryVM
@{
    ViewBag.Title = "PasswordRecovery";
}
<h2>
    Recuperación de password</h2>
<p>
    Ingrese su usuario o email.</p>
<form method="post">
    <fieldset class="fwith300 inline noInFieldLabel">
        <div>
            <label for="UserName">Usuario</label>
            <input type="text" id="UserName" name="UserName"/>
        </div>
        <div>
            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email"/>
        </div>
 <p>
            <input type="submit" class="freshbutton-blue" value="Enviar" />
        </p>
    </fieldset>
</form>
