@model EvolucionaMovil.Models.RecoveryVM
@{
    ViewBag.Title = "PasswordRecovery";
}
<h2>
    Recuperación de password</h2>
<form method="post">
    <fieldset class="fwith300 inline noInFieldLabel">
        <div><h3>Ingrese su nombre usuario o email.</h3></div>
        <div>
            <input type="text" placeholder="Nombre de usuario" id="UserName" name="UserName"/>
        </div>
        <h3>ó</h3>
        <div>
            <input type="text" placeholder="Email" id="Email" name="Email"/>
        </div>
        <div>
        <br />
            <input type="submit" class="freshbutton-blue" value="Recuperar contraseña" />
        </div>
    </fieldset>
</form>
