<div id="body" style="font-family: Arial, Helvetica, sans-serif;">
    <table style="background-color:#f8f8f8;font: Arial;font-size: 14px;width: 600px" width="600" cellspacing="20" cellpadding="20">
        <tr>
            <td align="center" height="100" style="padding-top: 20px">
                <img src="http://evolucionamovil.mx/assets/img/logo-evoluciona-sm.png" /> </td>
        </tr>
        <tr>
            <td style="font-size: 20px;padding-top: 30px;padding-bottom: 15px;padding-left: 50px;padding-right: 50px;background-color: #ffffff"><strong>Información de acceso a 
                evolucionamovil.mx</strong>
            </td>
        </tr>
        <tr>
            <td style="font: Arial;padding: 15px 50px; background-color: #ffffff">
                <br />                
                Tus credenciales para acceder al sistema de Pago de servicios y reporte de depósitos es:
                <br />
                <p>
                Usuario: <strong>@username</strong>
                <br />
                Password: <strong>@password</strong>
                </p>
                Con esta información podras entrar al sistema de Evoluciona Móvil dando click en:<br />
                <a href="http://app.evolucionamovil.mx">app.evolucionamovil.mx</a>
                <br />
                <br />
                Si requieres mayor información no dudes en ponerte en contacto con nosotros escribiéndonos a <a style="color: #08c" href="mailto:atencionalcliente@evolucionamovil.com">atencionalcliente@evolucionamovil.com</a> o llámanos al <strong style="color: #08c">01 55 57 15 08 80</strong>. 
                <br />
                <br />
                <strong>Saludos!</strong>
            </td>
        </tr>
        <tr><td style="font-size: 20px;background-color:#008bb8;color: #ffffff;padding: 30px 50px;border-top:3px solid #0088cc;">
                Atentamente:<br/>
                Equipo de <strong>Evoluciona Móvil®</strong>
            </td></tr>
    </table>
</div>