<div id="body" style="font-family: Arial, Helvetica, sans-serif;">
    <table style="background-color:#f8f8f8;font-size: 14px;width: 600px" width="600" cellspacing="20" cellpadding="20">
        <tr>
            <td align="center" height="100" style="padding-top: 20px">
                <img src="http://evolucionamovil.mx/assets/img/logo-evoluciona-sm.png" /> </td>
        </tr>
        <tr>
            <td style="font-size: 20px;padding-top: 30px;padding-bottom: 15px;padding-left: 50px;padding-right: 50px;background-color: #ffffff"><strong>Carta Invitación.</strong>
            </td>
        </tr>
        <tr>
            <td style="padding: 15px 50px; background-color: #ffffff">
            Estimado @nombrecontacto,
            <br />
            En <span style="color: #08c"><strong>Evoluciona Móvil®</strong></span> nos esforzamos día a día por brindar más y mejores servicios a todos nuestros clientes. Es por ello que en el mes de Noviembre del 2013 lanzamos al mercado nuestro sitio para <strong>Pago de Servicios</strong>, en el cual podrás realizar el cobro de más de 100 servicios; entre ellos servicios domésticos como teléfono, gas, luz,  tv de paga; así como también tarjetas departamentales como Sanborns, Sears, C&A, Liverpool entre muchos servicios más.
                <br />
                <br />
                Nuestro sistema te ofrece las siguientes ventajas:
                <ul>
                    <li>Nuestro servicio funciona las <strong>24 hrs los 365 días</strong> del año.   
                    </li>
                    <li>Sencillo de utilizar.
                    </li>
                    <li>Sin un mínimo de inversión.
                    </li>
                    <li>Manejamos los servicios más comunes. <strong>Más de 100 servicios</strong> como tarjetas de crédito, departamentales y domésticos.
                    </li>
                    <li>Los pagos son <strong>seguros y confiables</strong>.
                    </li>
                    <li>Respetamos la confidencialidad de los datos de tus clientes.
                    </li>
                    <li>La comisión de cada pago varía según el paquete contratado.
                    </li>
                    <li>Opción de <strong>Prepago</strong> a través de la compra de <strong>Paquetes</strong> de eventos los cuales te ofrecen comisiones especiales por volumen.
                    </li>
                    <li>Si te quedaste sin saldo disponible, puedes seguir procesando pagos, ya que te ofrecemos <strong>Pospago</strong> que te permite pagar en las primeras horas del día siguiente lo acumulado en tu cuenta, lo cual te permitirá no negar el servicio a tus clientes (disponible para clientes preferentes).
                    </li>
                    <li>Ahorras tiempo y dinero a tus clientes y aumentas la afluencia de los mismos a tu negocio.
                    </li>
                    <li>Se reciben pagos parciales y pagos vencidos.
                    </li>
                    <li>Puedes conocer el status de tus pagos en cualquier momento. El sistema te da a conocer en tiempo y forma la hora, el día y monto exacto de tus pagos, así como el folio emitido por la empresa correspondiente.
                    </li>
                    <li>Puedes reimprimir el ticket de pago en el momento que tú lo desees.
                    </li>
                    <li>Contamos con un número telefónico especial para información y soporte técnico destinado exclusivamente para nuestro sistema.
                    </li>
                </ul>
 
                El día de hoy te invitamos a formar parte de nuestra red de PayCenters en nuestro nuevo sistema de pago de servicios de <span style="color: #08c"><strong>Evoluciona Móvil®</strong></span>.
                <br />
                <br />
                Si requieres mayor información no dudes en ponerte en contacto con nosotros escribiéndonos a <a style="color: #08c" href="mailto:atencionalcliente@evolucionamovil.com">atencionalcliente@evolucionamovil.com</a> o llámanos al <strong style="color: #08c">01 55 57 15 08 80</strong>. Y debido a que te consideramos un <span style="color: #08c"><strong>Cliente Selecto</strong></span>, como muestra de nuestro agradecimiento te ofrecemos los siguientes beneficios:
                <br />
                <strong>
                    <ul>
                        <li>Afiliación gratuita</li>
                        <li>15 Eventos de Pago (Sin cobro de comisión)</li>
                        <li>Crédito especial de Pospago </li>
                    </ul>
                </strong>
                Sin más por el momento te reiteramos la invitación para que accedas a nuestro
                <br />
                <strong><a style="color: #08c; font-size: 22px" href="http://app.evolucionamovil.mx">Sitio de Pago de servicios (click aquí)</a></strong><br />
               y comienza a tomar de ventaja de las herramientas que hemos desarrollado para tí.
                <br />
                <br />
                <strong>Saludos cordiales!</strong>
            </td>
        </tr>
        <tr><td style="font-size: 20px;background-color:#008bb8;color: #ffffff;padding: 30px 50px;border-top:3px solid #0088cc;">
                Atentamente:<br/>
                Equipo de <strong>Evoluciona Móvil®</strong>
            </td></tr>
    </table>
</div>