p.mvcMembership-warning{
	color: #cc0000;
	font-weight: bold;
	border: 2px solid #cc0000;
	padding: 1em;
	border-radius: .5em;
	text-align: center;
}

h3.mvcMembership{
	clear: left;
}

ul.mvcMembership-paging > li{
	float: left;
	list-style-type: none;
	margin: 1em;
}

ul.mvcMembership > li > form{
	display: inline;
	margin-left: 1em;
}

dl.mvcMembership{
	margin-left: .9em;
}
dl.mvcMembership > dt{
	display: block;
	float: left;
	clear: left;
	height: 1.75em;
	margin-right: 1em;
}
dl.mvcMembership > dd{
	display: block;
	height: 1.75em;
}

div.mvcMembership-account > form{
	display: inline;
}

div.mvcMembership-allUsers ul{
	margin: 0;
}
div.mvcMembership-allUsers ul.mvcMembership-users > li{	
    border: solid 1px #EBEBEB;
    display: inline-block;
    padding: 3px 12px;
    width: 257px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #F5F5F5;
    height: 96px;
}
.mvcMembership-username a
{
    text-decoration: none;
    font-size: 26px;
    color: gray;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
div.mvcMembership-allUsers ul.mvcMembership-users > li > span.mvcMembership-isOnline{
	display: block;
	font-weight: bold;
	color: #33cc33;
}
div.mvcMembership-allUsers ul.mvcMembership-users > li > span.mvcMembership-isOffline{
	display: block;
	color: #999;
}
div.mvcMembership-allUsers ul.mvcMembership-users > li > span.mvcMembership-email{
	display: block;
	font-size: .8em;
}
div.mvcMembership-allUsers ul.mvcMembership-users > li > span.mvcMembership-comment{
	display: block;
	border: 1px solid #ccc;
	padding: .25em .5em .25em .5em;
	margin: .5em 0 .5em 0;
}

div.mvcMembership-allUsers .PagedList-disabled a{
	color: #666;
}
div.mvcMembership-allUsers .PagedList-disabled a:hover{
	color: #666;
}

div.mvcMembership-allRoles ul > li{
	margin: .5em 0 .5em 0;
}

form.mvcMembership-searchForm fieldset,
.mvcMembership-allRoles fieldset{
	padding-top: 1.5em;
}
