@CHARSET "UTF-8";
/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 
{
    font-size: 2em;
    padding: 0 0 10px 0;
    color:#1094D6;
}

h3 {
    color:#000;font-size:1.5em;
    display:inline;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    border: 1 solid #CFE4F9;
    margin-top:30px;
    min-height:600px;
}
#logo
{
    background: url(../Content/themes/base/images/logo_evoluciona.jpg) no-repeat;
    display:inline-block;
    margin-top:10px;
    margin-left:30px;
    margin-right:30px;
    width:230px;
    height:76px;
    float:left;
}
header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    padding-bottom:18px;
    border-bottom: 2px solid #32A6E0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
}
.errorMessage
{position: absolute;
left: 362px;
top: 0px;
z-index: 1000;
width: 145px;
background-color: #FFF4A5;
border-color: #D8B030 !important;
line-height: 12px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
padding: 5px;
}
footer, #footer
{
    background-color: #0080B1;
    color: #fff;
    padding: 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
    height: 110px;
}

.innerfooter{
    margin:auto;
    background-color: #008bb8;
    font-size: 1.2em;
    width:1000px;
    height: 100%;
    text-align:left;
    line-height:17px;
}
.innerfooter a,.innerfooter a:link,.innerfooter a:visited
{
    color:#fff;
    text-decoration:none;
}
.innerfooter p
{
    float:left;
    width:45%;
    margin:25px;
}
.innerfooter p .title
{
    font-size:20px;
}
.disclaimer
{
    font-size: 0.8em;
    line-height:13px;
    display:block;
}
.tel
{
    font-size: 1.5em;
    font-weight:bold;
}
/* TAB MENU   
----------------------------------------------------------*/
#menucontainer {
    margin-top: 51px;
}
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
    border-bottom-color: #0066CC;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 8px 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #000;
}

ul#menu li a
{
    padding: 8px 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #fff;
    color: #000;
    border-radius: 4px 4px 0 0;
    opacity: 0.45;
    filter: alpha(opacity=45);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover, ul#menu li a:active {
    background-color: #fff;
    text-decoration: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: none;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"]
{
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 7px;
    font-size: 1.2em;
    color: #444;
}

 select,.sbHolder
{
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.2em;
    color: #444;
    width:359px;
    position:relative;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

input[type="text"],input[type="password"] {
width:345px;
height:24px;
position:relative;
}

input[type="text"],input[type="password"],textarea,select,.sbHolder,.sbOptions {
-webkit-border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
-moz-box-shadow:0 0 0 #000,inset 0 3px 3px #eee;
-webkit-box-shadow:0 0 0 #000,inset 0 3px 3px #eee;
box-shadow:0 0 0 #000,inset 0 3px 3px #eee;
font-size:16px;
border:1px solid #bfbfbf;
}

input[type="text"]:hover,textarea:hover,select:hover, .sbHolder:hover {
border:1px solid #a0a0a0;
}

input[type="text"].small,textarea.small,a.small
{
    padding:0 .5em;
    min-width:80px
}
input[type="submit"].small, input[type="button"].small,a.small {min-width:80px;font-size:11px !important;padding:4px 10px !important;}

label
{
    font-size: 16px;
    position: absolute;
    left: 7px;
    top: 6px;
    z-index: 100;
    color: #999;
    zoom: *100;
    cursor:text;
}

select{background:#fff  url("../Content/themes/base/images/select-icon.gif") no-repeat 95% 50%;cursor:pointer;}

.small input[type="text"] {
width:199px;
height:22px;
}

.small input[type="text"],.small textarea {
padding:3px 5px;
}

.small input[type="text"],.small textarea,.small label {
font-size:13px;
}

.focused input[type="text"],.focused textarea {
border:1px solid #a0a0a0;
}

.focused label {
color:#ccc;
transition:color .2s linear 0;
-webkit-transition:color .2s linear 0;
-moz-transition:color .2s linear 0;
}

/*BUTTONS*/
.freshbutton,.freshbutton-red,.freshbutton-blue,.freshbutton-big,.freshbutton-lightblue,.freshbutton-gray,.freshbutton-green 
{
-webkit-border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
text-align:center;
padding:7px 16px;
font-size:14px;
font-weight:500;
cursor:pointer;
overflow:visible;
}

.freshbutton img.sprite,.freshbutton-red img.sprite,.freshbutton-blue img.sprite,.freshbutton-big img.sprite,.freshbutton-lightblue img.sprite,.freshbutton-gray img.sprite,.freshbutton-green img.sprite {
margin-bottom:-3px;
margin-right:3px;
}

a.freshbutton,a.freshbutton-red,a.freshbutton-blue,a.freshbutton-big,a.freshbutton-lightblue,a.freshbutton-gray,a.freshbutton-green,span.freshbutton,span.freshbutton-red,span.freshbutton-blue,span.freshbutton-big,span.freshbutton-lightblue,span.freshbutton-gray,span.freshbutton-green {
display:inline-block;
}

a.freshbutton,a.freshbutton-red,a.freshbutton-blue,a.freshbutton-big,a.freshbutton-lightblue,a.freshbutton-gray,a.freshbutton-green
{
color:#fff;text-decoration:none
}

a.freshbutton:hover,a.freshbutton-red:hover,a.freshbutton-blue:hover,a.freshbutton-big:hover,a.freshbutton-lightblue:hover,a.freshbutton-gray:hover,a.freshbutton-green:hover,span.freshbutton:hover,span.freshbutton-red:hover,span.freshbutton-blue:hover,span.freshbutton-big:hover,span.freshbutton-lightblue:hover,span.freshbutton-gray:hover,span.freshbutton-green:hover {
text-decoration:none;
}

.freshbutton {
font-size:13px;
font-weight:500;
color:#666;
border:1px #999 solid;
background-color:#f6f7f8;
text-shadow:#cacaca 0 1px 1px;
-webkit-text-shadow:#cacaca 0 1px 1px;
-moz-text-shadow:#cacaca 0 1px 1px;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 0 #000;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 0 #000;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 0 #000;
}

.freshbutton:hover,.freshbutton.hovered {
color:#555;
border:1px #676767 solid;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 5px #fff;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 5px #fff;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 5px #fff;
}

.freshbutton:active,.freshbutton.pressed {
color:#555;
border:1px #676767 solid;
-moz-box-shadow:0 0 0 #000,inset 0 0 5px #999;
-webkit-box-shadow:0 0 0 #000,inset 0 0 5px #999;
box-shadow:0 0 0 #000,inset 0 0 5px #999;
}

.freshbutton-blue,.freshbutton-big {
color:#fff;
border-top:1px #2270ab solid;
border-right:1px #18639a solid;
border-bottom:1px #0f568b solid;
border-left:1px #18639a solid;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#41a5d1",endColorstr="#178bbf");
background: -webkit-gradient(linear, left top, left bottom, from(#41a5d1), to(#178bbf));
text-shadow:#355782 0 1px 2px;
-webkit-text-shadow:#355782 0 1px 2px;
-moz-text-shadow:#355782 0 1px 2px;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #83c5f1;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #83c5f1;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #83c5f1;
}

.freshbutton-blue:hover,.freshbutton-big:hover,.freshbutton-blue.hovered,.hovered.freshbutton-big {
border-top:1px #0070cc solid;
border-right:1px #006ac1 solid;
border-bottom:1px #005ca6 solid;
border-left:1px #006ac1 solid;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 3px #35bff4;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 3px #35bff4;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 3px #35bff4;
}

.freshbutton-blue:active,.freshbutton-big:active,.freshbutton-blue.pressed,.pressed.freshbutton-big {
border-top:1px #2270ab solid;
border-right:1px #186299 solid;
border-bottom:1px #0f568b solid;
border-left:1px #186299 solid;
background:#2f97d7;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1866a6",endColorstr="#2f97d7");
background: -webkit-gradient(linear, left top, left bottom, from(#1866a6), to(#2f97d7));
-moz-box-shadow:0 0 0 #000,inset 0 2px 2px #3d65a4;
-webkit-box-shadow:0 0 0 #000,inset 0 2px 2px #3d65a4;
box-shadow:0 0 0 #000,inset 0 2px 2px #3d65a4;
}

.freshbutton-blue:focus,.freshbutton-big:focus {
-moz-box-shadow:0 0 3px 1px #33a0e8,inset 0 0 3px 0 #35bff4;
-webkit-box-shadow:0 0 3px 1px #33a0e8,inset 0 0 3px 0 #35bff4;
box-shadow:0 0 3px 1px #33a0e8,inset 0 0 3px 0 #35bff4;
}

.freshbutton-lightblue {
color:#1e75bd;
border-top:1px #93cef8 solid;
border-right:1px #79bcea solid;
border-bottom:1px #79bcea solid;
border-left:1px #79bcea solid;
background:#e4f3ff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4fafe",endColorstr="#e4f3ff");
background:0 to(#e4f3ff));
background:0;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #fff;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #fff;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #fff;
}

.freshbutton-lightblue:hover,.freshbutton-lightblue.hovered {
color:#0068c2;
border-top:1px #52b6fd solid;
border-right:1px #4399db solid;
border-bottom:1px #1e7bc6 solid;
border-left:1px #4399db solid;
background:#e5f3ff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebf4fc",endColorstr="#e5f3ff");
background:0 to(#e5f3ff));
background:0;
-moz-box-shadow:0 1px 1px #d3d3d3,inset 0 0 0 #000;
-webkit-box-shadow:0 1px 1px #d3d3d3,inset 0 0 0 #000;
box-shadow:0 1px 1px #d3d3d3,inset 0 0 0 #000;
}

.freshbutton-lightblue:active,.freshbutton-lightblue.pressed {
color:#0068c2;
border-top:1px #137bc6 solid;
border-right:1px #4399db solid;
border-bottom:1px #52b6fd solid;
border-left:1px #4399db solid;
background:#ebf4fc;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5f3ff",endColorstr="#ebf4fc");
background:0 to(#ebf4fc));
background:0;
-moz-box-shadow:0 0 0 #000,inset 0 0 4px rgba(0,66,115,0.55);
-webkit-box-shadow:0 0 0 #000,inset 0 0 4px rgba(0,66,115,0.55);
box-shadow:0 0 0 #000,inset 0 0 4px rgba(0,66,115,0.55);
}

.freshbutton-gray {
color:#0081c3;
border-top:1px #dfdfdf solid;
border-right:1px #dfdfdf solid;
border-bottom:1px #c2c2c2 solid;
border-left:1px #dfdfdf solid;
background:#efefef;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#efefef");
background:0 to(#efefef));
background:0;
-moz-box-shadow:0 1px 1px #d3d3d3,inset 0 1px 0 #fff;
-webkit-box-shadow:0 1px 1px #d3d3d3,inset 0 1px 0 #fff;
box-shadow:0 1px 1px #d3d3d3,inset 0 1px 0 #fff;
}

.freshbutton-gray:hover,.freshbutton-gray.hovered {
color:#0081c3;
background:#fcfcfc;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#fcfcfc");
background:0 to(#fcfcfc));
background:0;
-moz-box-shadow:0 1px 1px #d3d3d3,inset 0 0 0 #000;
-webkit-box-shadow:0 1px 1px #d3d3d3,inset 0 0 0 #000;
box-shadow:0 1px 1px #d3d3d3,inset 0 0 0 #000;
}

.freshbutton-gray:active,.freshbutton-gray.pressed {
color:#0081c3;
background:#efefef;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef",endColorstr="#efefef");
background:0 to(#efefef));
background:0;
-moz-box-shadow:0 0 0 #000,inset 0 0 4px rgba(0,66,115,0.55);
-webkit-box-shadow:0 0 0 #000,inset 0 0 4px rgba(0,66,115,0.55);
box-shadow:0 0 0 #000,inset 0 0 4px rgba(0,66,115,0.55);
}

.freshbutton-red {
color:#fff;
border-top:1px #A12B36 solid;
border-right:1px #92222C solid;
border-bottom:1px #821721 solid;
border-left:1px #8F212B solid;
background:#c32f39;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#db4457",endColorstr="#c32f39");
background:0 to(#c32f39));
background:0;
text-shadow:#355782 0 1px 2px;
-webkit-text-shadow:#355782 0 1px 2px;
-moz-text-shadow:#355782 0 1px 2px;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #e98a96;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #e98a96;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #e98a96;
}

.freshbutton-red:hover,.freshbutton-red.hovered {
border-top:1px #BD0E1B solid;
border-right:1px #A60C17 solid;
border-bottom:1px #9A0B16 solid;
border-left:1px #AC0D19 solid;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 3px #f08ea5;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 3px #f08ea5;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 0 3px #f08ea5;
}

.freshbutton-red:active,.freshbutton-red.pressed {
border-top:1px #A12B36 solid;
border-right:1px #8F212B solid;
border-bottom:1px #821721 solid;
border-left:1px #982631 solid;
background:#cb3a4f;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a7242d",endColorstr="#cb3a4f");
background:0 to(#cb3a4f));
background:0;
-moz-box-shadow:0 0 0 #000,inset 0 2px 2px #9c212a;
-webkit-box-shadow:0 0 0 #000,inset 0 2px 2px #9c212a;
box-shadow:0 0 0 #000,inset 0 2px 2px #9c212a;
}

.freshbutton-green {
color:#fff;
border-top:1px #028F05 solid;
border-right:1px #056F08 solid;
border-bottom:1px #056F08 solid;
border-left:1px #056F08 solid;
background:#069709;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#06b00a",endColorstr="#069709");
background:0 to(#069709));
background:0;
text-shadow:#056f08 0 1px 2px;
-webkit-text-shadow:#056f08 0 1px 2px;
-moz-text-shadow:#056f08 0 1px 2px;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #19ca1d;
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #19ca1d;
box-shadow:0 1px 1px rgba(0,0,0,0.3),inset 0 1px 0 #19ca1d;
}

.freshbutton-green:active,.freshbutton-green.pressed {
background:#06b00a;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#069709",endColorstr="#06b00a");
background:0 to(#06b00a));
background:0;
-moz-box-shadow:0 0 0 #000,inset 0 2px 2px #057707;
-webkit-box-shadow:0 0 0 #000,inset 0 2px 2px #057707;
box-shadow:0 0 0 #000,inset 0 2px 2px #057707;
}

.freshbutton-big {
font-size:19px;
padding:15px 40px;
}

.freshbutton-big:hover {
text-decoration:none;
}

a.freshbutton-big {
display:inline-block;
}

.freshtoggle-container {
display:0;
display:inline-block;
vertical-align:middle;
vertical-align:auto;
zoom:1;
display:inline;
}



.freshtoggle {
padding:4px;
float:left;
border-top:1px solid #d7d7d7;
border-right:1px solid #d4d4d4;
border-left:1px solid #d4d4d4;
border-bottom:1px solid #d1d1d1;
background:#f9f9f9;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefefe",endColorstr="#f9f9f9");
background:0 to(#f9f9f9));
background:0;
}

.freshtoggle.ft-left {
-webkit-border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
border-top-right-radius:0;
-webkit-border-top-right-radius:0;
-moz-border-radius-topright:0;
border-bottom-right-radius:0;
-webkit-border-bottom-right-radius:0;
-moz-border-radius-bottomright:0;
}

.freshtoggle.ft-middle,.freshtoggle.ft-right {
border-left:none;
}

.freshtoggle.ft-middle:hover,.freshtoggle.ft-middle:active,.freshtoggle.ft-middle.toggled,.freshtoggle.ft-right:hover,.freshtoggle.ft-right:active,.freshtoggle.ft-right.toggled {
margin-left:-1px;
}

.freshtoggle.ft-right {
-webkit-border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
border-top-left-radius:0;
-webkit-border-top-left-radius:0;
-moz-border-radius-topleft:0;
border-bottom-left-radius:0;
-webkit-border-bottom-left-radius:0;
-moz-border-radius-bottomleft:0;
}

.freshtoggle:hover,.freshtoggle:active,.freshtoggle.toggled {
border-top:1px solid #acacac;
border-right:1px solid #aaa;
border-left:1px solid #aaa;
border-bottom:1px solid #a7a7a7;
}

.freshtoggle:hover {
background:#f4f4f4;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#f4f4f4");
background:0 to(#f4f4f4));
background:0;
text-decoration:none;
}

.freshtoggle:active,.freshtoggle.toggled {
background:#eaeaea;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f1",endColorstr="#eaeaea");
background:0 to(#eaeaea));
background:0;
-moz-box-shadow:inset 0 0 1px #999;
-webkit-box-shadow:inset 0 0 1px #999;
box-shadow:inset 0 0 1px #999;
}

.freshtoggle img {
float:left;
}

.freshtoggle .label {
color:#000;
margin-bottom:-3px;
padding:0 2px 0 6px;
text-decoration:none;
}

.freshdropdown-menu.chat-bubble {
position:absolute;
right:0;
z-index:10;
padding:5px 0;
margin:0;
width:175px;
border-top-right-radius:0;
-webkit-border-top-right-radius:0;
-moz-border-radius-topright:0;
border-top-left-radius:0;
-webkit-border-top-left-radius:0;
-moz-border-radius-topleft:0;
}

.freshdropdown-menu.chat-bubble ul {
list-style:none;
margin:0;
padding:0;
}

.freshdropdown-menu.chat-bubble ul li a {
display:block;
padding:8px 14px;
}

.freshdropdown-menu.chat-bubble ul li a:hover {
text-decoration:none;
background-color:#e3f2ff;
}

.freshdropdown-menu.chat-bubble ul li a .sprite {
margin:0 7px -2px 0;
}

.freshdropdown-menu.chat-bubble.big {
padding:4px 0;
width:195px;
}

.freshdropdown-menu.chat-bubble.big ul li.subheader {
margin:10px 0 7px 8px;
font-size:11px;
color:#666;
}

.freshdropdown-menu.chat-bubble.big ul li.divider {
height:0;
margin:4px 0;
margin:-10px 0 0;
border-bottom:1px solid #d2e5f5;
}

.freshdropdown-menu.chat-bubble.big ul li a {
padding:4px 10px;
height:32px;
line-height:32px;
color:#222;
}

.freshdropdown-menu.chat-bubble.big ul li a img {
float:left;
width:32px;
height:32px;
margin-left:-2px;
margin-right:9px;
background-color:#e3f2ff;
}

.freshdropdown-menu.chat-bubble.big ul li a img.freshdropdown-spacer {
background-color:transparent;
}

.error-bubble {
-webkit-border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
padding:7px 5px;
margin:0 3px 0 0;
text-align:right;
position:absolute;
top:1px;
right:100%;
color:red;
background-color:#fff1f1;
border:1px solid #ba6262;
font-size:12px;
line-height:18px;
}

.error-bubble .error-message {
color:#ba6262;
font-size:inherit;
line-height:inherit;
}

.error-bubble .error-bubble-arrow-border {
display:block;
border-color:transparent transparent transparent #ba6262;
border-style:solid;
border-width:6px;
height:0;
width:0;
position:absolute;
top:10px;
right:-13px;
}

.error-bubble .error-bubble-arrow {
border-color:transparent transparent transparent #fff1f1;
border-style:solid;
border-width:6px;
height:0;
width:0;
position:absolute;
top:10px;
right:-11px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.fl{float:left}
.fr{float:right}

.clear {
    clear: both;
}

.error {
    color: Red;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    color: #32A6E0;    
    position: absolute;
    top:10px;
    right: 30px;
}

#logindisplay a:link 
{
    color: #32A6E0;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: #32A6E0;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: #32A6E0;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee;
}

.validation-summary-errors {font-weight: bold;color: #ff0000;}
.validation-summary-valid {display: none;}

.ui-datepicker{ z-index: 9999 !important;}
.formLeft, .formRight{display:inline-block;vertical-align:middle;width:49%}
.message{background:#FFFFAD;padding:1em;margin:0.6em 0 0.6em 0}
.nota{color:#999;font-size:.8em;padding:3px;width:360px}
.w700{width:700px}
.center{margin:0 auto}
.negative{color:Red}
#total{margin-right:20px}

/* Styles for editor and display helpers
----------------------------------------------------------*/
label.checkbox{cursor:pointer;font-size:1em;position:static !important}
legend{font-size:2em;font-weight:400}
.display-label, .editor-label {margin:0;position:relative;color:#aaa}
.display-field, .editor-field {margin:0;margin-bottom:5px;position:relative;}
.text-box {width: 30em;}
.text-box.multi-line {height: 6.5em;}
.tri-state {width: 6em;}

/**Paquetes**/
#grdPaquetes{color:#999;font-size:1.5em;width:700px}
#grdPaquetes div{padding-bottom:.7em}
#grdPaquetes span{display:inline-block}
.paq-name{color:#32A6E0;width:120px}
.paq-eventos{width:145px}
.paq-precio{width:160px}
.paq-precioevento{width:210px}
.paq-resumen{text-align:right;}
.paq-resumen h3{display:inline-block}
.fcb{color:#000}


/**GRIDS**/
.fechacreacion{width:80px !important}
.clave{width:120px !important}
.concepto{width:380px !important}
.cargo{color:Red;width:80px !important; text-align:right}
.abono{color:#000;width:80px !important; text-align:right}
.saldo{width:80px !important; text-align:right}
.status{width:80px !important;}
.folio{width:100px !important;}
.monto{width:80px !important;}
.fechavencimiento{width:80px !important;}
.servicio{width:380px !important;}
.status .Aplicado, .Aplicado{color:#000;font-weight:bold}
.status .Procesando, .Procesando{color:#808080}
.status .Rechazado, .Rechazado{color:#FF1D25}
.status .Cancelado, .Cancelado{color:#FF6700}
.listHeader .cargo,.listHeader .abono{color:#fff}
.qtip{cursor: pointer;padding-right:1em;background: url("../Content/themes/base/images/qtip.png") no-repeat 100% 50%;}
.tipocuenta{width:85px !important;}
.banco{width:250px !important;}
.fechapago{width:80px !important}
.referencia{width:120px !important}
.paycenter{width:100px !important}


/**Estado de cuenta**/
.resumen{height:30px;margin-top:0}
.resumen h1,.resumen h2,.resumen h3,.resumen a{display:inline-block}
.resumen.saldos{padding-top:0.7em}
.resumen.saldos h3{padding-left:1em}
.resumen.saldos span{color:#222}
.resumen.saldos span.cargo{color:Red}
.resumen.h2{font-size:1.6em}
.reportadeposito{background:#fff url("../Content/themes/base/images/repdep.jpg") no-repeat 50% 0%;min-height:390px;width:50%}
.formRight .message{width:342px}

.cuentadeposito{margin-bottom:.5em;padding-left:20px}
.cuentadeposito label{display:inline-block;position:static;width:150px;}
.cuentadeposito input[type="text"]{width:120px}


.hasDatepicker{background: url("../Content/themes/base/images/calendar.png") no-repeat 95% 50%;cursor:pointer;}

#filtros{border-top:1px solid #999;color:#999;height:28px;padding:0.5em}
#filtros label{font-size:1em;position:static !important}
#filtros #pageSize{width:30px}
#filtros #fechaInicio, #filtros #fechaFin{width:100px}
#filtros #searchString{width:160px}
#filtros #search{background: url("../Content/themes/base/images/search.png") no-repeat 50% 50%;border:none;cursor:pointer;margin-left:-20px;padding:.3em ;position:absolute;width:16px;z-index:10000}
#filtros #search:hover{padding:.4em}
#filtros #lblAplicadosOnly, #filtros #aplicadosOnly{cursor:pointer}

/**Prospecto**/
.titulo h1, .titulo a{display:inline;} 
.titulo a{margin-left:18%; cursor:pointer;}
.leyenda{width:362px}
.alrgt{text-align:right;}
#preafiliacioninfo{border: none;padding: 0 8.2em 1.4em 1.3em;margin: 0 0 1.5em 0;float:right;width:362px;}
#preafiliacioninfo a{cursor:pointer;}
#preafiliacioninfo h3, h4{font-size: 1.3em;}

/*Paycenters*/
.newPaycenter{padding-top:1.2em;}
.checkActivo{color:Black; font-size:1.4em !important;}
#confirmacion,#notfound{font-size: 1.3em;}
.btnReturn{text-align:right; width:310px; margin:4px;}
.infoPaycenter{margin:14px 0 7px 0}
.infoPaycenter h2, .infoPaycenter a{display:inline;}
.tituloPaycenter{color:#32A6E0;}
/*.labelsPaycenter{font-size:15px; color:#999; float:left; width:42%;}
.labelsPaycenter div{height:22px; margin:3px 0 3px 0; position:relative;}
.fieldsPaycenter{font-size:15px; float:right; width:57%;}
.fieldsPaycenter div{height:22px; margin:3px 0 3px 0; position:relative;}
.fieldsPaycenter a{font-size:12px;}*/
.DetailsField{font-size:15px; margin:3px 0 3px 0; overflow:hidden;}
.DetailsFieldLabel{color:#999; float:left; width:42%;}
.DetailsFieldValue{float:right; width:57%;}
.DetailsFieldValue a{font-size:12px;}

.fwith300{width:550px}
.fwith300 .display-label{width:200px}
.fwith300 .display-field{width:345px}
.inline .display-label, .inline .editor-label, .inline .display-field, .inline .editor-field {display: inline-block;font-size:1.2em}

/*ListGrid*/
.listHeader{padding:4px;background:#ccc;}
.listColumn{float:left;overflow:hidden;}
.listBody{}
.listRow{border: 1px solid #eee; padding: 0; padding-left: 7px; clear: both; overflow: hidden;}
.listRow:hover{background-color:#EFF2F4;}
.listCell{float:left;overflow:hidden;height:20px;}
.listSelRow{background-color:#aaa}
.listHeader, .listRow{margin-bottom:5px;}
.listCell, .listColumn{width:100px;text-overflow: ellipsis;}

#HistorialStatus{margin-top:15px}
#HistorialStatus .Fecha{height:40px;width:120px}
#HistorialStatus .Estatus{height:40px;width:65px}
#HistorialStatus .Usuario{height:40px;width:65px}
#HistorialStatus .Comentarios{display:inline-table;width:290px}
