@{
    ViewBag.Title = "PayCenter no encontrado";
}
<h1>PayCenter no encontrado</h1>
<h3 id="notfound">El PayCenter especificado no está registrado.</h3>
<div class="btnReturn">
    <input type="button" class="freshbutton-blue" value="Regresar" onclick="history.back();" />
</div>
