@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Evoluciona Móvil</title>
</head>
<body style="text-align:center;background:#ccc">
    <img style="margin-left:auto" src="../../Content/themes/base/images/evolucionamovil_commingsoon.jpg" alt="Coming Soon" />
</body>
</html>
