@{
    ViewBag.Title = "politicas-de-confidencialidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="politicas">
    <h2>
        Políticas de Confidencialidad</h2>
    <p>
        Evoluciona Móvil se compromete a proteger la confidencialidad de sus datos personales.
        En esta Política de confidencialidad se explica el modo en el que Evoluciona Móvil
        recopila y emplea sus datos personales cuando utiliza sus productos y servicios.
    </p>
    <h3>
        MOTIVOS DE LA RECOPILACIÓN DE INFORMACIÓN DE CARÁCTER PERSONAL</h3>
    <p>
        Evoluciona Móvil recopila datos personales para mejorar su forma de trabajar y ofrecer
        productos y servicios, para comunicarse con el usuario acerca de dichos productos
        y servicios y para proporcionar una atención al cliente eficaz y en el momento oportuno,
        si fuera necesario. Nos comprometemos a no arrendar ni vender a terceros ningún
        dato de identificación personal que nos haya proporcionado, así como a no compartirlo
        sin su autorización, a menos que sea necesario para los fines establecidos en la
        presente Política de confidencialidad.
    </p>
    <h3>
        INFORMACIÓN PERSONAL QUE SE RECOPILA</h3>
    <p>
        Debe abrir una cuenta o realizar el registro en línea con Evoluciona Móvil para
        adquirir productos o servicios de Evoluciona Móvil. La información recopilada durante
        el proceso de registro o de creación de una cuenta, o bien durante el acceso a productos
        o servicios concretos, puede variar dependiendo de la naturaleza del producto o
        servicio. La información que proporcione al registrarse o crear una cuenta, o al
        acceder o utilizar su cuenta o los productos o servicios de Evoluciona Móvil asociados
        a su cuenta puede incluir: nombre y dirección de correo electrónico; información
        para la facturación; información de la ubicación (como el código postal y el país);
        la configuración del equipo (como el sistema operativo, la velocidad de conexión
        y los periféricos); la dirección IP (IP) de Internet y la URL del sitio Web que
        le remitió a la página de registro de Evoluciona Móvil; la información demográfica
        proporcionada por el usuario (como el idioma, el sexo y la edad, y, si se aplica,
        las preferencias de contenido e información de personalización); asimismo, si ha
        iniciado o cerrado sesión en un servicio de Evoluciona Móvil, o cambiado su contraseña
        o información para la facturación. En la fecha de emisión de esta política de confidencialidad,
        Evoluciona Móvil no recopila de forma consciente información personal que permite
        identificar al usuario de niños menores de 13 años.
    </p>
    <p>
        Nos comprometemos a no vender, arrendar ni distribuir información de identificación
        personal a terceros sin su autorización, excepto lo estipulado más adelante.
    </p>
    <h3>
        MODO DE MANTENER LA INFORMACIÓN PERSONAL RECOPILADA DE FORMA SEGURA</h3>
    <p>
        Evoluciona Móvil es consciente de que es un privilegio tenerle como cliente y se
        compromete a proteger sus datos personales. Utilizamos los siguientes controles
        para proteger sus datos personales:
    <ul>
        <li>Uso de controles de seguridad para restringir el acceso a las bases de datos que
            albergan la información que permite identificar al usuario.</li>
        <li>Acceso restringido de los empleados a las bases de datos que contienen información
            personal y requisitos de confidencialidad impuestos a los empleados que las crean.</li>
        <li>Obligación contractual vinculante de los contratados externos de adoptar medidas
            técnicas y de organización que salvaguarden la información personal.</li>
    </ul>
    </p>
    <h3>
        USO DE LA INFORMACIÓN PERSONAL RECOPILADA</h3>
    <p>
        Los datos de carácter personal sirven a Evoluciona Móvil para lo siguiente:
    <ul>
        <li>Entregarle los productos y servicios de Evoluciona Móvil, así como comunicarse con
            el usuario por cuestiones relativas a su cuenta o al servicio. Esto puede incluir
            la verificación de su identidad oficial antes de cualquier compra de contenido o
            servicios.</li>
        <li>Mejorar nuestros servicios proporcionando recomendaciones de contenido personalizadas,
            personalización de idioma y ubicación, y/o ayuda e instrucciones personalizadas.</li>
        <li>Determinar si cumple los requisitos mínimos del sistema para utilizar nuestros productos
            y proporcionar información relativa a la compatibilidad e interoperabilidad con
            el usuario.</li>
        <li>Realizar un seguimiento del número de accesos.</li>
        <li>Invitar al usuario a tomar parte en encuestas sobre los productos, los servicios,
            las noticias y los eventos.</li>
        <li>Ofrecer actualizaciones de productos, contenido y servicios.</li>
        <li>Facilitar contenido, servicios, instrucciones y una experiencia en general más personalizada
            basándonos en la información personal, como el código postal, la situación geográfica
            y cualquier otro contenido o preferencias que el usuario proporcione.</li>
        <li>Proporcionar al usuario noticias, boletines gratuitos, actualizaciones, publicidad,
            promociones, ofertas especiales.</li>
        <li>Determinar cómo se usan los productos, incluidas las características del tráfico
            Web y el tipo de contenido más solicitado entre los usuarios de nuestros productos
            y servicios.</li>
    </ul>
    </p>
    <h3>
        SITUACIONES EN LAS QUE SE COMPARTE LA INFORMACIÓN DEL USUARIO CON TERCEROS Y MODO
        DE HACERLO</h3>
    <p>
        Evoluciona Móvil no emplea los datos personales del usuario para fines que no sean
        compatibles con los mencionados anteriormente. Evoluciona Móvil se abstiene de vender,
        alquilar o revelar a asociados o servicios de contenido la información personal
        del usuario a no ser que éste exprese su conformidad.
    </p>
    <p>
        En algunos casos, el acceso a determinados productos y servicios, como productos
        de suscripción de contenido o productos distribuidos por terceros, puede requerir
        la provisión de información personal a un tercero, como un proveedor o distribuidor
        de contenido. En tales situaciones, esto se determinará durante el proceso de registro,
        en las condiciones de uso, durante el proceso de distribución o de cualquier modo
        que se estime oportuno. El uso que hagan de esta información el tercero, de un lado,
        y Evoluciona Móvil de otro, estará sujeto a sus respectivas políticas de confidencialidad.
        Para conocer el tratamiento que recibe por parte del asociado de contenido, es de
        rigor visitar su política de confidencialidad. Si el usuario está en desacuerdo
        con la transferencia de datos, no debe registrarse en el producto o servicio de
        que se trate. Asimismo, algunos proveedores o titulares de contenido pueden exigir
        a Evoluciona Móvil el suministro de información sobre el uso y el acceso como condición
        para otorgar sus derechos y licencias. En tales casos, Evoluciona Móvil aporta al
        proveedor de contenido, entre otra información, datos sobre el uso del contenido,
        datos de acceso o información de índole demográfica, en ningún caso información
        que facilite la identificación personal (nombre, datos de facturación o dirección
        de correo electrónico).
    </p>
    <p>
        Evoluciona Móvil puede revelar información importante de sus clientes a sus contratistas
        (p. ej., un contratista de servicio de atención al cliente o un servicio de compensación
        de tarjeta de crédito) para que proporcionen servicios específicos a Evoluciona
        Móvil y para mejorar el servicio a nuestros clientes. Evoluciona Móvil exige a sus
        contratistas mediante estipulación vinculante que utilicen estos datos personales
        de forma estrictamente confidencial y sólo para realizar el trabajo encomendado
        por Evoluciona Móvil.
    </p>
    <p>
        Además, Evoluciona Móvil se reserva el derecho de revelar datos de carácter personal
        del usuario si así lo exige la legislación vigente o si expone sus razones para
        creer que dicha actuación es necesaria para:
    <ol>
        <li>Cumplir una orden judicial</li>
        <li>Cumplir la orden de un órgano judicial competente de cualquier jurisdicción</li>
        <li>Cumplir los trámites en procesos iniciados contra Evoluciona Móvil</li>
        <li>Proteger y defender los derechos o bienes de Evoluciona Móvil</li>
        <li>Actuar de urgencia con el fin de proteger la seguridad personal de los usuarios
            de los productos de Evoluciona Móvil o del público en general.</li>
    </ol>    
    </p>
    <p>
        Los sitios Web, productos y servicios de Evoluciona Móvil incluyen enlaces a otros
        sitios Web, productos y servicios. Por ejemplo, el acceso a nuestro portal de recargas.
        Debido a que Evoluciona Móvil no gestiona los sitios Web, productos y servicios
        de terceros, éstos no se rigen por esta política de confidencialidad. Evoluciona
        Móvil no se hace responsable de las prácticas de confidencialidad o el contenido
        de dichos productos o sitios. Recomendamos:
    </p>
    <p>
        Consulte las respectivas políticas de confidencialidad para conocer la forma de
        recopilación de datos y su tratamiento. Naturaleza obligatoria u opcional de la
        información solicitada. Algunos de los datos de carácter personal recopilados por
        Evoluciona Móvil son imprescindibles para ofrecerle el producto o servicio de Evoluciona
        Móvil elegido. Ahora bien, puede que algunos datos técnicos (como el código postal,
        el identificador del producto o el GUID) se transmitan de forma automática entre
        los servidores de la red para autenticar el acceso a los productos y servicios,
        permitir la entrega o mejorar al máximo la entrega de medios a los usuarios.
    </p>
    <h3>
        MENSAJES DE CORREO ELECTRÓNICO DE EVOLUCIONA MÓVIL</h3>
    <p>
        Al registrar un producto o servicio, el usuario también indica a Evoluciona Móvil
        si desea recibir comunicaciones y, en caso afirmativo, por qué vía. En general,
        enviamos mensajes de correo electrónico a los usuarios para presentar productos,
        contenido y ofertas especiales. Los productos, servicios y líneas de negocio independientes
        de Evoluciona Móvil podrán enviar mensajes de correo electrónico publicitarios y
        boletines por separado.
    </p>
    <h3>
        CAMBIOS EN NUESTRA POLÍTICA DE CONFIDENCIALIDAD</h3>
    <p>
        Revisamos con frecuencia nuestra Política de confidencialidad para mantenerla actualizada
        con los productos, los servicios y las páginas Web de Evoluciona Móvil. Se usa "Actualizado"
        para advertir a los usuarios sobre cambios recientes en el documento y para indicar
        la fecha de la última actualización. Si tiene dudas sobre cualquier asunto relacionado
        con la confidencialidad de nuestros productos y servicios o si desea elevar una
        reclamación, póngase en contacto con nosotros:
    </p>
    <p>
        Evoluciona Móvil, México, DF. 2013<br />
        Tel. (55) 57 46 5274
    </p>
</div>
