@{
    ViewBag.Title = "Oops!";
}
<div style="padding:20px 100px">
<h2>Oops!</h2>
<h3 style="width:500px;display:inline-block">Por el momento, nuestro servicio a presentado una problema en la solicitud que se encontraba realizando. Por favor, le pedimos intente más tarde.</h3>
<br /><br />
<h5 style="width:500px;display:inline-block">Si requiere mayor información no dude en ponerse en contacto con nosotros escribiéndonos a <a style="color: #08c" href="mailto:atencionalcliente@evolucionamovil.com">atencionalcliente@evolucionamovil.com</a> o llámenos al <strong style="color: #08c">01 55 57 15 08 80</strong>.</h5>

</div>